<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>173049571389-b86cavtfl6vp9eebncrb1uuv1htub22c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.173049571389-b86cavtfl6vp9eebncrb1uuv1htub22c</string>
	<key>API_KEY</key>
	<string>AIzaSyC-C_DOnxYuwrhgUAhVB_Nr0nd6dCYBin0</string>
	<key>GCM_SENDER_ID</key>
	<string>173049571389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weChat</string>
	<key>PROJECT_ID</key>
	<string>we-chat-3bcee</string>
	<key>STORAGE_BUCKET</key>
	<string>we-chat-3bcee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:173049571389:ios:a36808c02e996ad7a1a254</string>
</dict>
</plist>